# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db
*.ilk
*.pdb
VirtualWhiteboard/VirtualWhiteboard/Debug/
VirtualWhiteboard/VirtualWhiteboard/Release/
VirtualWhiteboard/Release/
VirtualWhiteboard/Debug/
*.suo
*.opendb
VirtualWhiteboard/VirtualWhiteboard/x64/
VirtualWhiteboard/VirtualWhiteboard/VirtualWhiteboard.vcxproj
VirtualWhiteboard/x64/
VirtualWhiteboard/VirtualWhiteboard/VirtualWhiteboard.cpp~RF5a8d55.TMP
VirtualWhiteboard/VirtualWhiteboard/VirtualWhiteboard.cpp~RF5b044b.TMP
VirtualWhiteboard/VirtualWhiteboard/VirtualWhiteboard.cpp~RF77589c.TMP
